.custom-navbar {
    padding: 500px; 
  }
  
  .navbar-nav {
    margin-left: auto; 
  }
  
  .navbar-nav .nav-link {
    margin-right: 10px; 
  }
  
  .custom-navbar {
    height: 10%;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-image: url('C:/Users/Lucio/Desktop/Programacion/3er Cuatrimestre/Laboratorio de computacion 3/tpi-test/src/images/fondo.png'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }